<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki.xacro">
  <ros2_control name="SpiderCapstoneHardwareInterface" type="system">
    <hardware>
      <!--  Change to actual plugin later  -->
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">true</param>
    </hardware>

    <!-- First leg only -->
    <joint name="fr_shoulder">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fr_elbow">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="fr_wrist">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
</robot>
